.menu-ancla{
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #B98FCC;

}
.menu-ancla:hover{
  color: #4E235D;

}

.logotipo{
  width: 15em;
  height: auto;
}
.menu{
  margin-top: 3em;
}

.texto-slider{
  margin-bottom: 25%;
}
.texto-slider h2{
  font-family: 'Advent Pro', sans-serif;
  font-size: 6em;
  color: #EA9115;
  text-shadow: 5px 5px 5px #4E235D;

}
.texto-slider p{
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
  color: #f5f5f5;
  text-shadow: 5px 5px 5px #000;
}
.marginleft{
  margin-left: 2em;
  margin-top: 2em;
}
.marginright{
  margin-right: 2em;
}
.titulomargin{
  margin-left: 2em;
}
.titulomarginn{
  margin-top: 3em;
  text-align: center;
}
.frmtransaccion{
  margin-top: 3em;
  text-align: center;
}
.inputtrans{
  margin-top: 2em;
  margin-bottom: 2em;
}
input {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: 0.5px solid #333333;
      padding: 0 4px 0 4px;
   }
.btnl{
  text-align: center;
  width: 150px;
  align:left;
}
.btnr{
  width: 150px;
  text-align: center;
  align:right;
}
.content-pops{
  margin-top: 3em;

}
.prueba{
  margin-top: 16em;
}
.content-all{
  margin: auto;
  width: 180px;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
}
.content-carrusel{
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}
.content-carrusel:hover{
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrusel figure{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}
.content-carrusel figure:hover{
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}
.content-carrusel figure:nth-child(1){
  transform: rotateY(0deg)translateZ(300px);
}
.content-carrusel figure:nth-child(2){
  transform: rotateY(36deg)translateZ(300px);
}
.content-carrusel figure:nth-child(3){
  transform: rotateY(72deg)translateZ(300px);
}
.content-carrusel figure:nth-child(4){
  transform: rotateY(108deg)translateZ(300px);
}
.content-carrusel figure:nth-child(5){
  transform: rotateY(144deg)translateZ(300px);
}
.content-carrusel figure:nth-child(6){
  transform: rotateY(180deg)translateZ(300px);
}
.content-carrusel figure:nth-child(7){
  transform: rotateY(216deg)translateZ(300px);
}
.content-carrusel figure:nth-child(8){
  transform: rotateY(252deg)translateZ(300px);
}
.content-carrusel figure:nth-child(9){
  transform: rotateY(288deg)translateZ(300px);
}
.content-carrusel figure:nth-child(10){
  transform: rotateY(324deg)translateZ(300px);
}
.content-carrusel img{
  width: 100%;
  transition: all 300ms;
}
.content-carrusel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}
@keyframes rotar{
  from{
    transform: rotateY(0deg);
  }to{
    transform: rotateY(360deg);
  }
}

.contrato{
  margin:10px;

}


.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}
.tarjetas-pago{
  margin: 5px;
}
.paralasp{
  background-color: #B276B2;
}
.imagen{
  margin-top: 8em;
}
.imagen2{
  margin-top: 4em;
}
.monedaimagen{
  margin-top: 16em;
}
